<div class="banner">
  <div class="container">
    <h1>Save your favorite movies</h1>
    <p>Everything organized conveniently in one place.</p>
  </div>
</div>



<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
