.bookmarks-container {
  width: 90%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.bookmark-card {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bookmark-card > img {
  width: 100%;
  object-fit: cover;
}

.bookmark-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bookmark-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.bookmark-card-details {
  padding: 16px;
  // position: relative;
  height: 150px;
}

.bookmark-card-comment {
  // position: absolute;
  bottom: 5px;
  width: 100%;
}

.bookmark-card-details h6 {
  font-size: small;
}

.time-ago {
  font-size: smaller;
  color: grey;
}

.movie-form {
  background-color: white;
  height: 290px;
}

.review-form {
  background-color: white;
}
